* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.topHeading {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.flexCenter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

body {
  margin: 10px;
}

nav a.active {
  color: #039be5
}

.toggleViewButton {
  width: 300px;
  background-color: #17665281;
  margin: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.deleteModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.deleteModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}